@import 'mixin';

$bg_blue_From : #00F9FC;
$bg_pink_To : #F79AFC;


$bg_light_yellow: #FEFEDA;
$text_blue : #0A08A2;
body, html{
	height: 100%;
	margin: auto;	
}

#content {
	// width: 100%;
	height: 100px;
	background: $bg_pink_To;
	@include linear-gradient($bg_blue_From, $bg_pink_To);
}

.layout-item {
	position: absolute;
	z-index: 20;

}

#codingArea{
	background-color: $bg_light_yellow;
	color: $text_blue;
	padding: 10%;
	white-space: pre-wrap;
}

